<div class="locations">
  <div
    *ngFor="let app of ApplicationDTO; let i = index"
    class="card card-body taken"
  >
    <table>
      <tr>
        <div class="card-text takenbox">
          <td><label class="card-title">Pet Name</label></td>
          <td>
            <div class="takeninfo">
              <label>{{ app.petName }}</label>
            </div>
          </td>
        </div>
      </tr>
      <tr>
        <div class="card-text takenbox">
          <td><label class="card-title">Adopter Name </label></td>
          <td>
            <div class="takeninfo">
              <label>{{ app.adopterName }}</label>
            </div>
          </td>
        </div>
      </tr>
      <tr>
        <div class="card-text takenbox">
          <td><label class="card-title">Status</label></td>
          <td>
            <div class="takeninfo">
              <label>{{ app.statusOfApp }}</label>
            </div>
          </td>
        </div>
      </tr>
    </table>
  </div>
</div>
