<!-- login.component.html -->
<div class="form-container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="userName">User Name</label>
          <input type="text" id="userName" name="userName" [(ngModel)]="formData.userName" required>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" [(ngModel)]="formData.password" required>
      </div>
      <div class="form-group">
          <label>Role</label>
          <div class="radio-group">
              <label><input type="radio" name="role" [(ngModel)]="formData.role" value="ADOPTER"> ADOPTER</label>
              <label><input type="radio" name="role" [(ngModel)]="formData.role" value="MANAGER"> MANAGER</label>
              <label><input type="radio" name="role" [(ngModel)]="formData.role" value="STAFF"> STAFF</label>
          </div>
      </div>
      <div class="form-group">
          <button type="submit">Sign In</button>
      </div>
  </form>
  <a routerLink="/signup" class="signup-link">Don't have an email? Sign up now</a>
</div>