<div class="container">
    <div class="image"></div>
  
    <div class="form">
      <form #input_form="ngForm" (ngSubmit)="submit()">
        <table class="box">
          <h3>Sign up to Pet Adoption System</h3>
          <tr>
            <td>
              <label for="fname">First name</label>
              <input
                type="text"
                id="fname"
                name="fname"
                placeholder="First name"
                [(ngModel)]="signup_user.first_name"
                #first="ngModel"
                required
                class="form-control"
                [class.is-invalid]="first.invalid && first.touched"
                minlength="3"
              />
              <!-- handle errors -->
              <div *ngIf="first.invalid && first.touched" class="error">
                <div *ngIf="first.errors?.['required']">
                  this field is required
                </div>
                <div *ngIf="first.errors?.['minlength']">Min Length is 3</div>
              </div>
            </td>
  
            <td>
              <label for="lname">Last name</label>
              <input
                type="text"
                id="lname"
                name="lname"
                placeholder="Last name"
                [(ngModel)]="signup_user.last_name"
                #last="ngModel"
                required
                class="form-control"
                [class.is-invalid]="last.invalid && last.touched"
                minlength="3"
              />
              <!-- handle errors -->
              <div *ngIf="last.invalid && last.touched" class="error">
                <div *ngIf="last.errors?.['required']">
                  this field is required
                </div>
                <div *ngIf="last.errors?.['minlength']">Min Length is 3</div>
              </div>
            </td>
          </tr>
  
          <tr>
            <td colspan="2">
              <label for="Shelter name">Shelters</label>
              <select
                required
                #Shelter
                id="country"
                name="country"
                (change)="select_Shelter(Shelter.value)"
              >
                <option>Select</option>
                <option
                  *ngFor="let Shelter of Shelters; let i = index"
                  [value]="Shelter"
                >
                  {{ Shelter }}
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                [(ngModel)]="signup_user.email"
                #email="ngModel"
                required
                class="form-control"
                [class.is-invalid]="email.invalid && email.touched"
                email
              />
  
              <!-- handle errors -->
              <div *ngIf="email.invalid && email.touched" class="error">
                <div *ngIf="email.errors?.['email']">
                  Email Or Phone Is Required
                </div>
                <div *ngIf="email.errors?.['required']">
                  This Field Is Required
                </div>
              </div>
            </td>
          </tr>
  
          <tr>
            <td colspan="2">
              <label for="phone">Phone number</label>
              <input
                type="tel"
                id="phone"
                name="phone"
                placeholder="Phone number with country code"
                [(ngModel)]="signup_user.phone_number"
                #phone="ngModel"
                required
                class="form-control"
                [class.is-invalid]="phone.invalid && phone.touched"
              />
  
              <!-- handle errors -->
              <div
                class="error"
                *ngIf="phone.errors?.['required'] && phone.touched"
              >
                this field is required
              </div>
            </td>
          </tr>
  
          <tr>
            <td colspan="2">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                [(ngModel)]="signup_user.password"
                #password="ngModel"
                required
                (input)="power_password(password.value)"
                class="form-control"
                [class.is-invalid]="password.invalid && password.touched"
                minlength="8"
              />
              <!-- handle errors -->
              <div *ngIf="password.invalid && password.touched" class="error">
                <div *ngIf="password.errors?.['required']">
                  this field is required
                </div>
                <div *ngIf="password.errors?.['minlength']">Min Length is 8</div>
              </div>
              <!-- handle errors -->
              <div *ngIf="password.touched" class="error">
                <div *ngIf="pow_password === 1" style="color: rgb(255, 140, 0)">
                  weak password
                </div>
                <div *ngIf="pow_password === 2" style="color: yellow">
                  Midum password
                </div>
                <div *ngIf="pow_password === 3" style="color: green">
                  Strong password
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label for="password2">Confirm your password</label>
              <input
                type="password"
                id="password2"
                name="password2"
                placeholder="Password"
                #password2="ngModel"
                required
                ngModel
                class="form-control"
                [class.is-invalid]="password2.invalid && password2.touched"
                minlength="8"
                placeholder="Confrim your password"
              />
              <!-- handle errors -->
              <div *ngIf="password2.invalid && password2.touched" class="error">
                <div *ngIf="password2.errors?.['required']">
                  this field is required
                </div>
                <div *ngIf="password2.errors?.['minlength']">Min Length is 8</div>
              </div>
  
              <div
                class="error"
                *ngIf="password.value != password2.value && password2.touched"
              >
                Password Must Equal Confirm Password
              </div>
            </td>
          </tr>
  
          <tr>
            <td colspan="2">
              <!-- not_active -->
              <button
                class="field"
                [disabled]="email.errors?.['required']||email.errors?.['email']
                ||password.errors?.['required']||password.errors?.['minlength']||password.value!=password2.value
                ||first.errors?.['required']||first.errors?.['minlength']||last.errors?.['required']||last.errors?.['minlength']
                ||phone.errors?.['required']||flag_choose_Shelter==false"
                *ngIf="email.errors?.['required']||email.errors?.['email']
                ||password.errors?.['required']||password.errors?.['minlength']||password.value!=password2.value
                ||first.errors?.['required']||first.errors?.['minlength']||last.errors?.['required']||last.errors?.['minlength']
                ||phone.errors?.['required']||flag_choose_Shelter==false"
                style="background-color: gray"
                id="btn"
                type="submit"
              >
                Sign up
              </button>
  
              <!-- active btn -->
              <button
                class="field"
                [disabled]="flag_sign_up == false"
                [hidden]="email.errors?.['required']||email.errors?.['email']
                ||password.errors?.['required']||password.errors?.['minlength']||password.value!=password2.value
                ||first.errors?.['required']||first.errors?.['minlength']||last.errors?.['required']||last.errors?.['minlength']
                ||phone.errors?.['required']||flag_choose_Shelter==false"
                id="btn"
                type="submit"
              >
                Sign up
                <div
                  *ngIf="flag_sign_up == false"
                  class="spinner-border text-light"
                  role="status"
                ></div>
              </button>
              <p id="signup">
                Already a member?
                <a routerLink="">Sign in now</a>
              </p>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="logo">
      <div id="logo1"></div>
      <div id="logo2"></div>
    </div>
  </div>
  
  <app-pop-up></app-pop-up>
  