<form (ngSubmit)="submitForm()" class="signup-form">
  <div class="radio-buttons">
    <label>
      <input type="radio" name="role" value="ADOPTER" [(ngModel)]="selectedRole" required /> Adopter
    </label>
    <label>
      <input type="radio" name="role" value="STAFF" [(ngModel)]="selectedRole" required /> Staff
    </label>
    <label>
      <input type="radio" name="role" value="MANAGER" [(ngModel)]="selectedRole" required /> Manager
    </label>
  </div>

  <div>
    <label>
      First Name:
      <input type="text" name="firstName" [(ngModel)]="formData.firstName" required />
    </label>

    <label>
      Last Name:
      <input type="text" name="lastName" [(ngModel)]="formData.lastName" required />
    </label>

    <label>
      Username:
      <input type="text" name="userName" [(ngModel)]="formData.userName" required />
    </label>

    <label>
      Contact Info:
      <input type="text" name="contactInfo" [(ngModel)]="formData.contactInfo" required />
    </label>

    <label>
      Password:
      <input type="password" name="password" [(ngModel)]="formData.password" required />
    </label>
  </div>

  <div *ngIf="selectedRole === 'STAFF'">
    <label>
      Select Role:
      <select name="staffRole" [(ngModel)]="formData.role" required>
        <option value="adopter">Adopter</option>
        <option value="manager">Manager</option>
      </select>
    </label>

    <label>
      Select Shelter ID:
      <select name="shelterId" [(ngModel)]="formData.idOfShelter" required>
        <option *ngFor="let shelter of shelterArray" [value]="shelter.id">{{ shelter.name }}</option>
      </select>
    </label>
  </div>

  <button type="submit">Submit</button>
</form>

  <app-pop-up></app-pop-up>
  